<footer class="footer">
  <div class="footer-container">
    <div class="footer-first-box">
      <!-- Sección 1: Logo y Nombre de la Academia -->
      <div class="footer-logo">
        <span class="footer-title">PuertoBJJ</span>
      </div>
      
      <!-- Sección 2: Redes sociales -->
      <div class="footer-social">
        <p class="footer-social-title">Siguenos</p>
        <div class="footer-social-icons">
          <%= link_to "https://www.instagram.com/puertojiujitsu/", target: "_blank", rel: "noopener noreferrer", aria_label: "Instagram" do %>
            <%= lucide_icon "instagram" %>
          <% end %>
          <%= link_to "https://www.facebook.com/puertojiujitsu/", target: "_blank", rel: "noopener noreferrer", aria_label: "Facebook" do %>
            <%= lucide_icon "facebook" %>
          <% end %>
          <%= link_to "https://wa.me/50672026863?text=Hola,%20me%20gustaría%20obtener%20información%20sobre%20las%20clases%20de%20Jiu-Jitsu", target: "_blank", rel: "noopener noreferrer", aria_label: "WhatsApp" do %>
            <%= lucide_icon "message-circle" %>
          <% end %>
        </div>
      </div>

      <!-- Sección 3: Ubicación -->
      <div class="footer-find-us">
        <p class="footer-find-title">Encuentranos</p>
        <div class="footer-find-icons">
          <%= link_to "https://www.google.com/maps/place/Gimnasio+In+Line/@9.9831961,-84.7348988,17z/data=!3m1!4b1!4m6!3m5!1s0x8fa031a7c3d77b43:0x934fb6fd5800c8dc!8m2!3d9.9831908!4d-84.7323239!16s%2Fg%2F11g6nbwflh?entry=ttu", target: "_blank", rel: "noopener noreferrer", aria_label: "Google Maps" do %>
            <%= lucide_icon "map-pin" %>
          <% end %>
          <%= link_to "https://ul.waze.com/ul?venue_id=180420708.1804010470.13727243&overview=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location", target: "_blank", rel: "noopener noreferrer", aria_label: "Waze" do %>
            <%= lucide_icon "navigation" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="footer-second-box">
      <!-- Sección 4: Futuros enlaces (dos cajas) -->
      <div class="footer-links">
        <div class="footer-links-left">
          <p class="footer-links-left-title">Academia</p>
          <%= link_to "Sobre Nosotros", "/acerca-de-nosotros", class: "footer-link" %>
        </div>
        <div class="footer-links-right">
          <p class="footer-links-right-title">Descubre</p>
          <%= link_to "Feedback", feedback_path, class: "footer-link" %>
        </div>
      </div>
    </div>

    <div class="footer-extra-box">   
      <!-- Sección 5: Más información (centrado al fondo) -->
      <div class="footer-extra">
        <p>© <%= Time.current.year %> PuertoBJJ. Todos los derechos reservados.</p>
      </div>
    </div> 
  </div> 
</footer>
