<header>
  <div  class="styled-header flex justify-between items-center p-6">
    <!-- Left Side -->
    <%= link_to "Home", root_path, class: "btn-home font-semibold mi-6"%>

    <!-- Center Navigation (Only for large screens) -->
    <div class="show@lg flex gap center-box text-xl">
      <%= link_to "Feedback", feedback_path, class: "rounded p-4"%>
      <%= link_to "Sobre Nosotros", "/acerca-de-nosotros", class: "rounded p-4"%>
    </div>

    
    <!-- Right Side -->
    <div class="mi-6">
      
      <!-- 👇 Hamburgues menu only mobile and tablet -->
      <div class="hide@lg cursor-grab"
           data-controller="mobile-menu"
           data-action="click->mobile-menu#toggle"
           data-mobile-menu-target="trigger"
           data-menu-id="mobile-menu">
        <%= lucide_icon('align-justify') %>
      </div>

      <!-- 👇 Logo for desktop -->
      <div class="show@lg">
        <div class="text-xl font-bold">LOGO</div>
      </div>

    </div>
  </div>

  <!-- Navbar mobile -->
  <div id="mobile-menu" class="hidden fixed inset-0 bg-surface z-50 p-6">
    <nav class="flex flex-col text-base gap">
      <%= link_to "Inicio", root_path, class: "hover:underline" %>
      <%= link_to "Feedback", feedback_path, class: "hover:underline"%>
      <%= link_to "Sobre Nosotros", "/acerca-de-nosotros", class: "hover:underline" %>
    </nav>
  </div>
</header>
